<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= title %></title>
  <script src="/scripts/index.js" defer></script>
  <link rel="stylesheet" href="/stylesheets/lobby.css" />
</head>
<body>
  <!-- Header Section -->
  <header>
    <div class="logo-container">
      <a href="/">
        <img class="logo" src="/img/logo.png" alt="Project Logo">
      </a>
    </div>
    <nav class="link-button-container">
      <a class="link-button" href="/">Home</a>
      <a class="link-button" href="/authentication/login">Login</a>
      <a class="link-button" href="/authentication/logout">Logout</a>
      <a class="link-button" href="/authentication/register">SignUp</a>
      <a class="link-button" href="/lobby">Lobby</a>
    </nav>
  </header>

  <!-- Main Content -->
  <div class="page-container">
    <!-- Lobby Container -->
    <div class="lobby-container">
      <!-- Lobby Basic Information -->
      <h1 class="lobby-title">Lobby Page</h1>
      <h3 class="current-user-name"> User: <%= user.username %> - ID:(<%= user.id %>)</h3>

      <!-- Game Create Button -->
      <form class="create-game-form" method="post" action="/games/create">
        <input type="submit" value="Create Game" />
      </form>

      <!-- Game List-->
      <div id="games-list">
        <h2>Game List</h2>

        <!-- Available Games -->
        <div class="game-section">
          <label class="games-label"> Available Games (Not Joined, Not Started) </label>
          <div class="button-container">
            <% if(availableGames.length > 0) { %>
              <% for(game of availableGames) { %>
                <a class="join-button" href="/games/<%= game.id %>/join">Join <%= game.id %></a>
              <% }%>
            <% } else { %>
              <p>No Games are Available to Join, instead create one</p>
            <% } %>
          </div>
        </div>

        <!-- Rejoinable Games -->
        <div class="game-section">
          <label class="games-label"> Games (Joined, Not Started) </label>
          <div class="button-container">
            <% if(reJoinGames.length > 0) { %>
              <% for(game of reJoinGames) { %>
                <a class="join-button" href="/games/<%= game.id %>">Join <%= game.id %></a>
              <% }%>
            <% } else { %>
              <p>No Games are Available to Join, instead create one</p>
            <% } %>
          </div>
        </div>

        <!-- Running Games -->
        <div class="game-section">
          <label class="games-label">Running Games (Joined, Started)</label>
          <div class="button-container">
            <% if(runningGames.length > 0) { %>
              <% for(game of runningGames) { %>
                <a class="join-button" href="/games/<%= game.id %>">Join <%= game.id %></a>
              <% }%>
            <% } else { %>
              <p>No Games are Available to Join, instead create one</p>
            <% } %>
          </div>
        </div>
      </div> 
      <!-- End of Game List -->
    </div>
    <!-- End of Game List Container-->

    <!-- Chat Area -->
    <div id="chat">
      <h2>Chat Area</h2>
      <!-- Chat Box -->
      <div id="chat-container">
        <div id="messages"></div>
        <label>
          <input id="chatMessage" name="chat-message" placeholder="Message..." />
        </label>
      </div>
    </div>
  </div>
  
  <!-- Chat Message Template -->
  <template id="chat-message-template">
    <div>
      <span class="username"></span>
      <span class="message"></span>
      <span class="timestamp"></span>
    </div>
  </template>
</body>
</html>
